@charset "UTF-8";

.fugaz-one-regular  
{  
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
*
{
    margin: 0px;
    padding: 0px;
    transition: 0.2s linear;
}

:root
{
    --cor-forte: #00185f;
    --cor-media: #42AEFF; 
    --cor-fraca: #6CA2D5;
    --cor-transparente: #728FAA; 
}

body
{
    background-color: var(--cor-fraca);
    height: 1300px;
}

header
{
    background-attachment: fixed;
    background-image: linear-gradient(to top, var(--cor-transparente), var(--cor-forte));
    max-height: 250px;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1
{   
    padding: 30px 0px 30px 0px;
    font-size: 2.0em;
    margin: auto;
    max-width: 700px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.441);
}

header > p
{   
    font-size: 1.0em;
    max-width: 650px;
    text-align: center;
    padding: 30px;
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.401);
} 

nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: linear-gradient(to top, var(--cor-transparente), var(--cor-forte));
    height: 50px;
}

nav img
{   
    display: block;
    width: 32px;
    height: 32px;
    
}

nav img:hover
{
  width: 40px;
  height: 40px;
}

nav > a
{   
    
    padding: 0px 0px 0px 20px
}

main
{   
    background-color: white;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.361);
}

article > h1 
{   
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    font-weight: bold;
    font-family: "Fugaz One";
    font-weight: bold;
    text-align: center;
    color:  var(--cor-forte);
    max-width: 315px;
    box-shadow:  0px 3px 3px rgba(0, 0, 0, 0.33);
    border-radius: 0px 0px 10px 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.26);
}   

article > h1:hover
{
    font-weight: 500;
    color: orangered;
    
}

article h1 span:hover
{
    text-decoration: underline;
}

article > p
{   
    max-width: 650px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
    text-indent: 30px;
    line-height: 1.5em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.249);
    margin: auto;
    font-size: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.289);
}

aside
{
    background-color: var(--cor-fraca);
    margin: 30px auto 10px auto;
    max-width: 1200px;
    text-align: center;
    max-width: 750px;
    display: block;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.225);

}

aside > h2
{   
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.289);
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right, var(--cor-forte), transparent);
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    font-family: "Fugaz One";
    font-weight: normal;
}

aside > h3
{   
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.236);
    font-size: 1.5em;
    margin-top: 0px;
    background-image: linear-gradient(to right, rgb(36, 36, 135)
    , transparent);
    text-align: left;
    padding: 10px;
}

h3 > a
{
    text-decoration: none;
    color: rgb(12, 1, 51);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.216);
    
}

h3 > a:hover
{
    text-decoration: underline;
    color: antiquewhite;
}

aside p
{
    padding: 10px 10px 20px 10px;
    text-align: justify;
    line-height: 1.5em;
    font-size: 18px;
}

section p
{
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    height: 50px;
    
}

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(135, 207, 237);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}

footer h2
{   
    font-size: 15px;
    padding: 5px;
    
}

footer h2 span
{
    color: white;
    animation: normal;
    animation: brilho 2s infinite alternate;
    transition: 0.4s;
}
@keyframes brilho 
{
    from {
        color: white;
        text-shadow: 0 0 5px #42AEFF;
    }
    to {
        color: #42AEFF;
        text-shadow: 0 0 15px #42AEFF;
    }
}

footer h2 span:hover {
    color: #42AEFF;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #42AEFF;
}
