@charset "UTF-8";

.fugaz-one-regular  
{  
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
*
{
    margin: 0px;
    padding: 0px;
    transition: 0.2s linear;
    font-family: Arial, Helvetica, sans-serif;
}

:root
{
    --cor-forte: #00185f;
    --cor-media: #42AEFF; 
    --cor-fraca: #6CA2D5;
    --cor-transparente: #728FAA; 
}

body
{
    background-color: var(--cor-fraca);

}

main
{   
    background-color: white;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.361);
}

article h1
{
    padding: 15px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--cor-media), var(--cor-forte));
    margin-bottom: 20px;
    color: white;
    height: 100px;
    align-items: center;

}

img 
{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

article h2
{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.236);
    font-size: 1.5em;
    margin-top: 0px;
    background-image: linear-gradient(to right, rgb(36, 36, 135)
    , transparent);
    text-align: left;
    padding: 10px;
}

article p
{
    padding: 10px 10px 20px 10px;
    text-align: justify;
    line-height: 1.5em;
    font-size: 18px;
    background-color: rgba(125, 124, 124, 0.436);
    font-weight: 500
}

article h3
{
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

article ul
{   
    display: block;
    margin-top: 10px;
    column-gap: 2px;
    padding-left: 30px;
    max-width: 650px;
    margin: auto;
}
@media (max-width: 600px) {
    article ul {
        column-count: 1;
    }
}

article li
{
    padding: 15px;
}
div
{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00185f;
    padding-top: 10px;

}
div iframe
{   
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    padding: 20px;
}

footer
{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    color: white;
}

section img
{
    display: block;
    width: 100%;
    height: auto;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
    
}

footer p
{
    display: flex;
    justify-content: center;
    align-items: center;
}