@charset "UTF-8";

.fugaz-one-regular  
{  
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
*
{
    margin: 0px;
    padding: 0px;
    transition: 0.2s linear;
    font-family: Arial, Helvetica, sans-serif;
}

:root
{
    --cor-forte: #00185f;
    --cor-media: #42AEFF; 
    --cor-fraca: #6CA2D5;
    --cor-transparente: #728FAA; 
}

body
{
    background-color: var(--cor-fraca);
    height: 1300px;
}

main
{   
    background-color: white;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.361);
}

article h1
{
    padding: 15px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--cor-media), var(--cor-forte));
    margin-bottom: 20px;
    color: white;

}
img 
{
    display: flex;
    justify-content: center;
    width: 100%;
}